/* CSS Document */
.lf{ height:20000px; background:#f5f5f5;}
.lf a:hover{ color:#690;}
.lf .f1_box{ background:url(../img/lf_f1.png) repeat-x;}
.lf .f1_box .hah{ width:1000px; margin:0 auto;}
.lf .f1 h3{ padding-top:30px; margin-bottom:35px;}
.lf .f1 h3 a{ color:#690; font-size:24px; font-weight:900px;}
.lf .f2{ width:998px; height:1245px; border:1px solid #ccc; border-bottom:none; margin:0 auto; margin-bottom:30px;}
.lf .f3{ width:237px; border-right:1px solid #ccc;	height:1245px; background:#f9f9f9}
.lf .f5{ width:215px; height:52px; border-bottom:1px solid #ccc; text-align:center; line-height:52px;}
.lf .f5 p{ padding-top:20px;}
.lf .f5 p a{ color:#999; font-size:18px; font-weight:900;}
.lf .f6{ margin-left:25px;}
.lf .f6 .biaoqian{ padding-top:17px; padding-bottom:16px; font-size:18px; font-weight:900; color:#ccc;}
.lf .f6 li{ height:20px; width:82px; margin-bottom:3px;}
.lf .f6 li p{line-height:18px; display:inline-block; padding:0 7px;}
.lf .f6 li p:hover{ border:1px solid #41810a; background:#6ca620; color:#fff;}
.lf .f6 .active{ border:1px solid #41810a; background:#6ca620; color:#fff;}
.lf .f7{ background:#fff; width:735px; height:208px; padding-left:25px;}
.lf .f7 .firstli{ padding-top:58px}
.lf .f7 .firstli .p1{ width:56px;line-height:22px; color:#000;}
.lf .f7 .firstli .p2{ width:36px; height:20px; border:1px solid #41810a; background:#6ca620; color:#fff; text-align:center; line-height:20px; margin-right:4px;}
.lf .f7 .firstli li a{ padding:5px 7px; display:block;}
.lf .f7 .firstli li a:hover{ background:#6ca620; color:#fff;}
.lf .f7 .firstli .p3{ margin-right:11px;}
.lf .f7 .firstli .p4{ padding:5px 0; }
.lf .f7 a{ color:#000;}

.lf .f7 .secondli{ padding-top:14px}
.lf .f7 .secondli .p1{ width:56px;line-height:22px; color:#000;}
.lf .f7 .secondli .p2{ width:36px; height:20px; border:1px solid #41810a; background:#6ca620; color:#fff; text-align:center; line-height:20px; margin-right:4px;}
.lf .f7 .secondli li a{padding:5px 12px; display:block;}
.lf .f7 .secondli li a:hover{ background:#6ca620; color:#fff;}
.lf .f7 .secondli .p3{ margin-right:11px;}
.lf .f7 .secondli .p4{ padding:5px 0; }
.lf .f8{ height:44px; border-top:2px solid #bdbdbd; background:#fcfffa; margin; width:760px;}
.lf .f8 .paixu{ margin-top:16px; margin-left:17px; color:#999; margin-right:32px;}
.lf .f8 .zuixin{ width:68px; height:12px; margin-right:22px; margin-top:15px;}
.lf .f8 .filter{ width:13px; height:12px; background:url(../img/beijingtu.png);}
.lf .f8 .zuixin2{ width:113px; height:12px; margin-top:15px; margin-right:22px;}
.lf .f8 .star{ width:13px; height:12px; background:url(../img/beijingtu.png) -17px 0; margin-right:11px;}
.lf .f8 .zuixin2 .sanjiao{ height:4px; width:7px; background:url(../img/beijingtu.png) -33px 0; margin-top:5px;}
.lf .f8 .zuixin3{ width:110px; height:12px; margin-top:15px; margin-right:10px;}
.lf .f8 .zan{ width:11px; height:10px; background:url(../img/beijingtu.png) -44px 0; margin-top:1px; margin-right:12px;}
.lf .f8 .zuixin3 .xiangxia{height:4px; width:7px; background:url(../img/beijingtu.png) -33px 0; margin-top:5px;}
.lf .f8 .zuixin4{ width:130px;height:41px; background:url(../img/f8.png) repeat-x; border:1px solid #dadadb; border-top:2px solid #5b8f0a; margin-top:-2px;}
.lf .f8 .yinliang{ width:12px; height:10px; background:url(../img/beijingtu.png) -56px 0; margin-left:10px; margin-top:15px; margin-right:13px;}
.lf .f8 .bofang{ margin-top:15px; margin-right:8px; color:#5b8f0a}
.lf .f8 .zuixin4 .xiangxia{ height:4px; width:7px; background:url(../img/beijingtu.png) -33px 0; margin-top:20px;}
.lf .f8 .fenlei{width:39px; height:27px;background:url(../img/beijingtu.png) 0 -16px; margin-top:6px;}
.lf .f8 .zhuye{ width:39px; height:27px; background:url(../img/beijingtu.png) -39px -16px; margin-right:22px; margin-top:6px;}
.lf .f9{ background:#fff; width:760px; height:991px; position:relative;}
.lf .f9 ul{ display:none;}
.lf .f9 .list{ display:block;}
.lf .f9 li{ width:128px; height:142px; margin-top:27px; margin-right:57px; position:relative;}
.lf .f9 .a1{ margin-right:0;}
.lf .f9 .list{ margin-left:35px;}
.lf .f9 li .p1{ width:126px; height:73px; border:1px solid #ccc; text-align:center; margin-bottom:9px;}
.lf .f9 li .p1 i{ height:100%; vertical-align:middle; display:inline-block;}
.lf .f9 li .p1 img{ vertical-align:middle;}
.lf .f9 li .p2 a{ color:#690;}
.lf .f9 li .p2{ margin-bottom:10px;}
.lf .f9 li .p3 span{ color:#ccc}
.lf .f9 li .p3{ margin-bottom:12px;}
.lf .f9 li .p4 span{ width:11px; height:10px; background:url(../img/beijingtu.png) -70px 0; margin-right:9px;}
.lf .f9 li .p5{ position:absolute; width:27px; height:14px; left:-1px; top:-1px; background:url(../img/beijingtu.png) 0 -46px;}
.lf .f9 .box{ width:325px; height:23px; margin-left:412px; margin-top:37px;}
.lf .f9 .box div{ width:20px; height:21px; border:1px solid #ccc; text-align:center; line-height:21px; color:#000; margin-right:7px; cursor:pointer;}
.lf .f9 .box .active{ background:#9c3; border:1px solid #690; color:#fff;}
.lf .f9 .next{ width:61px; height:21px; text-align:center; line-height:21px; border:1px solid #ccc; position:absolute; right:84px; bottom:86px; cursor:pointer;}
.lf .f9 .gong{ position:absolute; right:24px; bottom:91px; color:#ddd;}
.lf .f10{ height:150px; background:#fff;}
.lf .f10 li{ padding:0 12px; border-right:1px dashed #ccc;}
.lf .f10 .box{ width:1000px; height:150px; margin:0 auto; position:relative;}
.lf .f10 .box ul{ margin-left:248px; padding-top:40px; padding-bottom:30px;}
.lf .f10 .kf{ border-right:none}
.lf .f10 p{ text-align:center; margin-bottom:10px;}
.lf .f10 i{ width:33px; height:51px; background:url(../img/beijingtu.png) -35px -43px; position:absolute; right:28px; bottom:45px;}
.lf
.lf




