@charset "utf-8";
/* CSS Document */


@charset "utf-8";
/* 基础css  清除默认样式*/

*{padding:0; margin:0; line-height:100%;}
h1,h2,h3,h4,h5,h6{ font-size:100%; line-height:100%; font-weight:normal;}
body{ font-size:12px; font-family:'微软雅黑'; height:4000px;}
li{ list-style:none;}
a{ text-decoration:none; color:#000;}
li{ list-style:none; vertical-align:top;}/*li里浮动,li不浮动，去3像素bug*/
a img{ border:0; }/*a包img：去蓝色边框*/
img{vertical-align:top;} /*去除图片与下边框的间隙*/
i,em{ font-style:normal;}
strong,b{ font-weight:normal;}

.fl{float:left;}
.fr{float:right;}
.clearfix:after{display:block;clear:both;content:'';}
.clearfix{zoom:1;}
input{outline:none; border:none 0;padding:0;}
th,td{ border:1px solid red; padding:0;}
table{border-collapse:collapse;}
