body{ background:#f5f5f5;}
.kc_sideright_bar{position:fixed; right:0; top:150px; background:url(../img/kc_side.jpg) no-repeat; width:50px; height:142px;}
.col690{ color:#690;}
.col666{ color:#666;}
.col999{color:#999;}
.kc_top{height:72px; width:1000px; margin:0 auto; padding-top:28px;}
.kc_top h2{ width:190px; height:44px; background:url(../img/kc01.png) no-repeat; text-indent:-999em;}
.kc_top h2 a{display:block; height:100%;}
.kc_top li{float:left; padding:0 18px; position:relative; text-align:center;font-size:16px;}
.kc_top ul{height:28px; margin-top:8px;}
.kc_top i{position:absolute; width:1px; height:10px; background:url(../img/kc_03.gif) no-repeat; right:0; top:9px;}
.kc_top li a{ line-height:28px; display:block; color:#333;}
.kc_top .kc_this a{border-bottom:2px solid #690;}
.kc_content{width:1000px; margin:0 auto; background:#fff;}
.kc_con_l{width:697px; position:relative;}
.kc_side_bg{ width:6px; height:1698px; background:url(../img/kc_bg.jpg) no-repeat; position:absolute; right:-6px; top:125px;}
.kc_con_l_top a{ font-size:14px;height:28px; line-height:28px; margin-right:25px; margin-top:12px;}
.kc_con_l_top_active{ padding:0 8px; color:#fff; background:#690;}
.kc_list_info p{color:#999; line-height:20px;}
.kc_list_info{margin-top:8px;}
.kc_con_l_top,.kc_list_info{padding-left:14px;}
.kc_show{margin-top:15px; position:relative; cursor:pointer;}
.kc_mvlist_num{ width:38px; height:30px; float:left; margin-top:40px; margin-left:32px;}
.kc_num1{background:url(../img/kc_num1.gif) no-repeat center center;}
.kc_num2{background:url(../img/kc_num2.gif) no-repeat center center;}
.kc_num3{background:url(../img/kc_num3.gif) no-repeat center center;}
.kc_num4{background:url(../img/kc_num4.gif) no-repeat center center;}
.kc_num10{background:url(../img/kc_num10.gif) no-repeat center center;}
.kc_pic_box{width:180px; height:104px; border:2px solid #e1e1e1; text-align:center; padding-top:2px; margin-right:12px; margin-bottom:17px;}
.kc_pic_info h4{padding:7px 0;}
.kc_pic_info p{margin-bottom:6px;}
.kc_mv_sum a{width:72px; height:31px; background:url(../img/kc02.png);display:block; margin-bottom:18px; margin-top:5px; text-align:right;}
.kc_mv_sum{margin-right:25px;}
.kc_mv_sum a:hover{background:url(../img/kc_02h.png);}
.kc_mv_sum span{font-size:18px; font-weight:bold; height:20px;}
.kc_mv_sum p{line-height:20px;}
.kc_mv_sum_lastp{margin-top:10px; text-align:right;}
.kc_hid{height:0px; width:100%; background:#fbfef3; display:none; position:relative;float:left;border-bottom:1px solid #e4e4e4;border-top:1px solid #e4e4e4; cursor:auto; }
#kc_mvlist .kc_hid_xian{ display:block;height:184px;}
.kc_hid span{ height:40px; line-height:40px;}
.kc_hid img{border:1px solid #dadbd7;}
.kc_spic_info{margin-left:9px; padding-top:3px;}
.kc_spic_info p{margin-top:6px;}
.kc_hid li{width:200px; float:left; padding-left:32px; margin:8px 0 24px;}
.kc_hid h4{font-size:16px; color:#666; padding:15px 0 12px 32px;}
.kc_jiao{ width:15px; height:9px; background:url(../img/kc_jiao.png) no-repeat; position:absolute; right:54px; top:-9px;}
.kc_page_num a{float:left; width:25px; height:24px; border:1px solid #dadada; text-align:center; line-height:24px; margin-right:7px; border-radius:3px; margin-top:5px;}
.kc_page_num{ width:412px; margin:0 auto; padding-bottom:92px; margin-top:20px;}
.kc_page_num .kc_next{ text-align:left; padding-left:10px;width:61px; height:34px; line-height:34px; margin:0; background:url(../img/kc_04.gif) no-repeat 54px center;}
.kc_page_num .kc_page_fi{border:none;}
.kc_con_r_top h3{font-size:18px; color:#336633; float:left; height:28px; line-height:28px; margin-right:30px; padding-left:5px;}
.kc_con_r_top a{ float:left; width:44px; height:22px; text-align:center; line-height:22px; margin-top:5px; margin-right:7px; }
.kc_con_r_top .kc_con_r_top_a1{background:#690; color:#fff;}
.kc_con_r_top{height:28px; margin-top:60px; padding-bottom:12px; border-bottom:1px solid #ccc; margin-left:20px; margin-bottom:1px;}
.kc_con_r_list{border-top:1px solid #ccc; margin-left:20px; padding-top:34px;}
.kc_con_r_list span{width:20px; height:54px; float:left; background:url(../img/kc_111.gif) no-repeat center center; margin-left:3px; margin-right:5px;}
.kc_con_r_list img{border:1px solid #dadada;}
.l_con_r_pic_info{overflow:hidden; padding-left:8px;}
.l_con_r_pic_info a{margin:8px 0; display:block;}
.kc_con_r{width:303px;}
.kc_con_r_list li{margin-bottom:28px;}










































